# APP VARIABLES
APP_SECRET=
APP_NAME=
APP_URL=

JWT_SECRET=

# CLOUDINARY VARIABLES
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# MAIL VARIABLES
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# PostgreSQL Variables
DATABASE_URL=
GOOGLE_CLIENT_ID=

SENDGRID_API_KEY=
