# APP VARIABLES
APP_SECRET=
APP_NAME=
APP_URL=

JWT_SECRET=

# CLOUDINARY VARIABLES
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# MAIL VARIABLES
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

# PostgreSQL Variables
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GOOGLE_CLIENT_ID=
