# APP VARIABLES
APP_SECRET=
APP_NAME=
APP_URL=

JWT_SECRET=

# CLOUDINARY VARIABLES
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# POSTGRESQL Variables
DATABASE_URL=
GOOGLE_CLIENT_ID=

RESEND_API_KEY=
